.html, body {
    margin: 0;
    padding: 0;
}

.landing {
    background-color: #333333;
    background-image: url("https://img.freepik.com/free-vector/mars-landscape-alien-planet-martian-background_107791-1781.jpg?size=626&ext=jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 290px 40px;
}

.title {
    color: black;
    text-align: center;
    text-shadow: 5px 0px 8px  white;

}
